@import "var";
@import "header";
@import "creators";

* {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: 400;
}

.start-up-btn {
    @include btnCreator(11px, 16px)
}

.hero {
    height: 330px;
    background: linear-gradient(135deg, #192B74 0.42%, #2946A1 100%);

    &-carousel {
        &_item {
            background-color: white;

            h3 {}

            p {}

        }
    }
}

.reserve {
    padding: 131px;
    &-left {
        .video-box{
            height: 368px;
            max-width: 555px;
            background: #EAEFFF;
        }
    }

    &-right {
        span{}
        h1{}
        p{}
        &-list{
            li{
                span{
                    i{}
                }
            }
        }
    }
}